BasedOnStyle: LLVM

Language: Cpp

UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

IndentCaseLabels: true
ColumnLimit: 0

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
AccessModifierOffset: -4