.container {
    display: grid;
    margin-top:10px;
    grid-template-columns: 250px 30px;
    grid-auto-rows: 20px;
}
.container div {
    align-self:center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin: 0px;
}
