@charset "UTF-8";

#gridContainer {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto [ row]);
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
}

.lquestions {
    grid-area: 1 / 1 / 2 / 2;
}

.iquestions {
    grid-area: 1 / 2 / 2 / 3;
}

.ltirage {
    grid-area: 2 / 1 / 3 / 2;
}

.itirage {
    grid-area: 2 / 2 / 3 / 3;
}

.ok {
    grid-area: 3 / 1 / 4 / 2;
}


.labels {
    /*
	margin-right: 5px;
	padding: 1px 0px;
	width: 150px;
	min-height: 1px;
	*/
    text-align: right;
}

.inputs {
    justify-self: start;
    /*
	padding: 1px 0px;
	width: 150px;
	min-height: 1px;
	text-align: left;
	*/
}

.ok {
    justify-self: right;
    /*
	padding: 1px 0px;
	width: 150px;
	min-height: 1px;
	text-align: left;
	*/
}

input {
    display: inline-block;
}

input[type=number] {
    width: 50px;
}

input:focus {
    border-color: rgba(82, 168, 236, 0.75);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}