@import url('https://fonts.googleapis.com/css?family=Funnel+Display:wght@300..800&display=swap');

:root {
    --enron-blue: #0083c6;
    --color-enron-gray: #666259;
    --input-min-height: 30px;
}

body {
    font-family: 'Funnel Display', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 80%;
    margin: auto;
}
header {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    align-items: center;
}

header h2 {
    font-weight: 700;
    color: var(--enron-blue, blue);
}
svg {
    width: 40px;
    height: 40px;
}
table {
    border-collapse: collapse;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    font-size: small;
}
tr:nth-of-type(odd) { 
    background: #eee; 
}
th {
    background-color: var(--enron-blue, blue) ;
    color : white;
    text-align: left;
}
th, td {
    border: 2px gray solid;
    padding: 5px;
    text-align: center;
}


input, button {
    min-height: var(--input-min-height, 25px);
    border-radius: 5px;
}

input[type="file"] {
    min-width: 250px;
    background-color: #fff;
    color: var(--color-enron-gray,gray);
    border: 1px var(--color-enron-gray,gray) solid;
    margin: 10px;
    padding: 3px;
}

input[type=file]::file-selector-button {
    margin-right: 6px;
    border: none;
    border-radius: 4px;
    background: var(--enron-blue, blue);
    padding: 8px;
    color: #fff;
    cursor: pointer;
}

input[type="text"] {
    /* color: var(--color-enron-gray,gray); */
    padding: 3px;
    background-color: #fff;
    border: 1px var(--color-enron-gray,gray) solid;
    min-width: 250px;
    margin: 10px;
    /* min-height: var(--input-min-height, 30px); */
}

span {
    background-color: yellow;
}
