body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("img/background.png");

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}

main, header, footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header {
    height: 22vh;
    background-color: rgb(229, 177, 140);

    border-radius: 1vh;
    border: rgb(223, 191, 161) solid 0.5vw;

    width : 60%;
    margin-top: 7vh;
}

header h2 {
    line-height: 17vh;
    font-size: 2.3vw;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 0;
}

nav{
    height: 5vh;
    background-color: rgb(100, 68, 44);
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0;
    padding: 0 3vw;
    line-height: 5vh;
    font-size: 0.8vw;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 221, 68);
    transition: color 0.15s ease-in-out;

}

nav ul li a:hover {
    color: white;
}



main{
    text-align: center;
    width : 60vw;
    background-color: rgb(252, 229, 217);
    margin-top: 5vh;
    margin-bottom: 5vh;

    border-radius: 1vw;
    border: rgb(223, 191, 161) solid 0.5vw;
}

h2{
    font-size: 1.8vw;
}

.pres_sokoban{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

img{
    width: 16vw;
    height: 16vw;
}

figcaption{
    font-size: 0.8vw;
}

figure{
    width: 16vw;
    height: 16vw;
    margin: 2vw;
}

section{
    width: 54vw;
    margin: 3vw;
    margin-bottom: 10vh;
}


p{
    font-size: 1.1vw;
    text-align :justify;
}

.projet p{
    width: 60vw;
}

.pres_sokoban p{
    width: 35vw;
}


footer{
    margin-bottom: 7vh;
    height: 2vh;
    line-height: 2vh;
    background-color: rgb(100, 68, 44);
    border: rgb(73, 50, 32) solid 0.5vw;
    border-radius: 1vw;
    
    width : 60vw;
    height: 6vh;
}

footer p{
    font-size: 1vw;
    text-align: center;
    height: 1.5vw;
    color: rgb(255, 221, 68);
    font-weight: bold;
}

.valide_css img{
    width: 8.8vw;
    height: 3.1vw;
}